<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945801675589-09vvofttgrou0i509simffc78nj4gk1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945801675589-09vvofttgrou0i509simffc78nj4gk1b</string>
	<key>API_KEY</key>
	<string>AIzaSyBt1qht2eDH0dPpivXuJhwEcg9yLPRJ00s</string>
	<key>GCM_SENDER_ID</key>
	<string>945801675589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NAPPS.LoginWithFirebaseAndSocial</string>
	<key>PROJECT_ID</key>
	<string>loginwithfirebaseandsocial</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwithfirebaseandsocial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:945801675589:ios:d320b59e23a7270d</string>
	<key>DATABASE_URL</key>
	<string>https://loginwithfirebaseandsocial.firebaseio.com</string>
</dict>
</plist>
